/*





*/
h1 {
    color:black; text-shadow: 2px 2px 9px orange; text-align:center;
    }
    
div {
       text-align:center
}
body {
background-image:url(https://img.freepik.com/photos-gratuite/concept-texture-fond-materiau-raye-beton_53876-31751.jpg?size=626&ext=jpg);
}

#solol {
   width: 200px;
position:absolute;
top: 400px;
left: 15px;

}
