/* :hover =  quand on passe la souris sur l'element, les propriétés qu'on a mises s'appliquent
   ::selection = lorsqu'on selectionne des éléments, les propriétés (couleurs, background ) s'appliquent
*/
 h1 {
 	color:black; text-shadow: 0 0 10px #C900FF, 0 0 20px #FF9E00; /* couleur du titre en noir, centré, et une ombre sur celui ci */
	text-align:center; /* titre centré */
 	font-size:90px; /* augmentation de la taille de la police */
}

#webtoon{
	text-align:center;
}
#resume {
	filter: drop-shadow(0 0 0.70rem crimson);
	text-align:center;
}

#resume:hover{
	background:white;
	box-shadow: 0 0 20px #17FF00;
}

body {
	background-image:url(https://img.freepik.com/photos-gratuite/concept-texture-fond-materiau-raye-beton_53876-31751.jpg?size=626&ext=jpg);
	padding:20px;
}

p { 
	font-size:20px
}

ul{
	font-size:20px
}


#solol {
	width: 350px;
	filter: drop-shadow(0 0mm 2mm rgb(160, 0, 210));
	float: right;  
}        
 
#resume {
	margin-top: 30px;
  	margin-bottom: 30px;
  	margin-right: 30px;
  	margin-left: 30px;
  	padding: 15px;
  	border: 2px solid black;
  	font-size:20px;
  	color: #2C0444;
  	box-shadow: 0 5px 30px 0 rgba(209, 0, 255, 0.5), 0 7px 30px 0 rgba(209, 0, 255, 0.5);
} 

#lienFnac {
	font-size:25px;
	color: white;
	text-shadow: 2px 3px 2px black, 0 0 25px #0027FF, 0 0 5px darkblue;
    	clear:both;
}  
 
table {
	border : solid 2px #D100FF;
  	font-size: 16px;
 	width: 30%;
  	color:black;
  	box-shadow:0px 0px 70px 0px #FFFFFF, 18px 18px 10px 0px #000000;
  	float: left;
  	margin-right: 100px;
}
    
 td {
	border : solid 1px #FF5D00; 
    	border-radius :20px 20px 20px 20px;
    	width: 40px;
    	height: 30px;
    	padding: 10px;
}

td::hover {
	background:#6BFFFD;
}
tr::hover {
	background:#6BFFFD;
}

td::selection{
	color:red;
	background:yellow;
}

a::selection{
	color:red;
	background:yellow;
}

caption{
  	text-shadow: 0 0 3px #FF0000;
  	margin-bottom:10px;
}

p::selection {
  	color: red;
  	background: yellow;
}
 
div::selection {
  	color: red;
	background: yellow;
}

caption::selection{
	color:yellow;
	background:purple;
}

#resume{
	filter: drop-shadow(0 0 0.85rem crimson);
}
#imageSung {
  filter: drop-shadow(0 0 0.85rem crimson);
  margin-left: 30px; 
  position: relative;
  top: 27px;
}

#Ssung {
  height:283px ;
  width: 500px;
  
}

                               
iframe{
	float:left;
  border:solid 2px #A600FF;
}

#videoTexte{
	color: white;
  text-shadow: 2px 2px 4px #8700FF;
	font-size:25px;
}

.bordershadow {
	line-height:70px;
	text-align:center;
	border:2px solid #dd;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	transition: all 200ms ease-out;
}

.bordershadow:hover {
	box-shadow: 0 0 20px #17FF00;
}

table:hover {
	box-shadow: 0 0 20px #17FF00;
}

b:hover {
	box-shadow: 0 0 20px #17FF00;
}

#solol:hover {
	box-shadow: 0 0 20px #F0FF00;
} 

#Ssung:hover {
	box-shadow: 0 0 20px #17FF00;
}

#bouton:hover {
	box-shadow: 0 0 20px #17FF00;
}

#bouton { 
	font-size:25px;
	margin:20px;
}
