
 h1 {
 	color:black; text-shadow: 0 0 10px #C900FF, 0 0 20px #FF9E00; /* couleur du titre en noir, centré, et une ombre sur celui ci */
	text-align:center; /* titre centré */
 	font-size:90px; /* augmentation de la taille de la police */
  margin-bottom:200px;
}

#webtoon{
	text-align:center;
  transition: 300ms;
}
#resume {
	filter: drop-shadow(0 0 0.70rem crimson);
	text-align:center;
  transition: 300ms;
  	margin-top: 30px;
  	margin-bottom: 30px;
  	margin-right: 30px;
  	margin-left: 30px;
  	padding: 15px;
  	border: 2px solid black;
  	font-size:20px;
  	color: #2C0444;
  	box-shadow: 0 5px 30px 0 rgba(209, 0, 255, 0.5), 0 7px 30px 0 rgba(209, 0, 255, 0.5);

}

#resume:hover{
	background:white;
	box-shadow: 0 0 20px rgb(234, 0, 255);
  transition: all 400ms ease-out;
}

body {

	background-image:url(https://img.freepik.com/photos-gratuite/concept-texture-fond-materiau-raye-beton_53876-31751.jpg?size=626&ext=jpg);
	padding:20px;
}

p, ul { 
	font-size:20px
}

#solol {
	width: 350px;
	filter: drop-shadow(0 0mm 2mm rgb(160, 0, 210));
	float: right; 
  transition: 300ms; 
}        
 

#lienFnac {
	font-size:25px;
	color: white;
	text-shadow: 2px 3px 2px black, 0 0 25px #0027FF, 0 0 5px darkblue;
  clear:both;
  transition: 300ms;
}  
 
table {
	border : solid 2px #D100FF;
  font-size: 20px;
 	width: 15%;
  color:black;
  box-shadow:0px 0px 70px 0px #FFFFFF, 18px 18px 10px 0px #000000;
  background-image:url(http://ekladata.com/kbwjCxUSAKzUrZ5JLEVXU5djYkg.png);/* ajout d'une image png de fond pour le tableau */
  transition: 300ms;

}
    
 td {
	border : solid 1px #FF5D00;/* contour des colones*/
    	border-radius :20px 20px 20px 20px;
 
    	padding: 10px;
}

td:hover { /* lorsqu'on survole avec la souris une colonne, elle prend la couleur qu'on a mis (bleu ici) */
	background:#6BFFFD;
  transition: all 125ms ease-out;
}

td::selection{ /* lorsqu'on selectionne du texte dans les colones, le fond et la couleur du texte prennent les couleurs qu'on a attribué */
	color:red;
	background:yellow;
}

a::selection{ /* lorsqu'on selectionne du texte, le fond et la couleur du texte prennent les couleurs qu'on a attribué */
	color:red;
	background:yellow;
}
a:visited { /* change la couleur du lien une fois qu'il a été visité */
  color: #ff00d4; 
}

caption{
  	text-shadow: 0 0 3px #FF0000;
  	margin-bottom:10px;
}

p::selection { 
  	color: red;
  	background: yellow;
}
 
div::selection {
  	color: red;
	background: yellow;
}

caption::selection{
	color:yellow;
	background:purple;
}

#resume{
	filter: drop-shadow(0 0 0.85rem crimson);
}
#imageSung {
  filter: drop-shadow(0 0 0.85rem crimson);
  position : relative;
  float:left; 
  margin-top: 40px;
  margin-right: 200px;
  transition: 300ms;
 
}

#Ssung {
  height:283px ;
  width: 500px;
  transition: 300ms;
}
                              
iframe{
	float:left;
  border:solid 2px #A600FF;
  margin-right:30px;
  margin-bottom: 30px;
  transition: 300ms;
}

#videoTexte {
	color: white;
  text-shadow: 2px 2px 4px #8700FF;
	font-size:25px;
}

.bordershadow {
	line-height:70px;
	text-align:center;
	border: 3px dashed #dd0000;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	transition: all 200ms ease-out;
}

.bordershadow:hover {
	box-shadow: 0 0 20px #17FF00;
}


table:hover {
	box-shadow: 0 0 20px #17FF00;
  transition: all 400ms ease-out;
}

b:hover {
	box-shadow: 0 0 20px #17FF00;
  transition: all 400ms ease-out;
}

#solol:hover {
	box-shadow: 0 0 20px #F0FF00;
  transition: all 400ms ease-out;
} 

#Ssung:hover {
	box-shadow: 0 0 20px #17FF00;
  transition: all 400ms ease-out;
}

#bouton:hover {
	box-shadow: 0 0 20px rgb(255, 251, 0);
  transition: all 400ms ease-out;
}

#bouton { 
	font-size:25px;
	margin:20px;
  transition: 300ms;

}
#tablePersos {
   top: 27px;
}
.clear {
  clear: both;
}
